.order-chart{
    display:flex;
    flex-direction:column;
    gap:18px;
    margin-top:24px;
}

.chart-row{
    display:grid;
    grid-template-columns:70px 1fr 35px;
    align-items:center;
    gap:12px;
}

.chart-label{
    font-size:14px;
    font-weight:500;
    color:#38423d;
}

.chart-bar-bg{
    width:100%;
    height:12px;
    background:#e4e9e6;
    border-radius:999px;
    overflow:hidden;
}

.chart-bar{
    height:100%;
    border-radius:999px;
    transition:0.4s ease;
}

.chart-value{
    font-size:14px;
    font-weight:600;
    color:#68736d;
    text-align:right;
}